.peserta-table-container {
  overflow-x: auto;
  border-radius: 0.75rem;
  border: 1px solid #e5e7eb;
}


.peserta-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
}

.peserta-table th {
  padding: 1rem;
  background-color: #fff;
  color: #1e293b;
  border-bottom: 1px solid #e5e7eb;
  text-align: left;

}
.peserta-table td {
  padding: 1rem;
  background-color: #fff;
  color: #1e293b;
  font-size: 14px !important;
  border-bottom: 1px solid #e5e7eb;
  text-align: left;
}

.peserta-table thead {
  background-color: #f1f5f9;
  color: #1f2937;
}

.alasan{
  width: 20rem;
}

.expanded-row {
background-color: #f8f9fa;
font-size: 0.95rem;
padding: 1rem;
}

.peserta-table-container {
overflow-x: auto;
}

.peserta-table {
width: 100%;
border-collapse: collapse;
}

.peserta-header {
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 1rem;
margin-bottom: 1rem;
}

.peserta-header h2 {
font-size: 1.2rem;
margin: 0;
}



.tooltip-wrapper {
position: relative;
cursor: pointer;
}

.tooltip-wrapper .info-icon {
width: 14px;
height: 14px;
vertical-align: middle;
margin-left: 4px;
}

.tooltip-wrapper .tooltip-text {
visibility: hidden;
opacity: 0;
width: max-content;
background-color: #333;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 6px 10px;
position: absolute;
z-index: 10;
bottom: -20%; /* posisi tooltip di bawah teks */
left: 50%;
transform: translateX(-50%);
transition: opacity 0.3s;
font-size: 0.75rem;
white-space: nowrap;
}

.tooltip-wrapper:hover .tooltip-text {
visibility: visible;
opacity: 1;
}



.glosarium-button {
background-color: #f5c518;
border: none;
color: #000;
width: 143px;
height: 42px;
padding: 8px 16px;
border-radius: 6px;
font-weight: bold;
cursor: pointer;
margin-bottom: 1rem;
}

.modal-overlay {
position: fixed;
top: 0; left: 0;
width: 100%; height: 100%;
background: rgba(0,0,0,0.5);
display: flex; align-items: center; justify-content: center;
z-index: 1000;
}

.modal-content {
background: white;
padding: 20px;
border-radius: 10px;
width: 90%;
max-width: 600px;
}

.modal-content h3 {
margin-top: 0;
}

.glosarium-table {
width: 100%;
border-collapse: collapse;
}

.glosarium-table th, .glosarium-table td {
padding: 8px;
border: 1px solid #ccc;
}

.close-button {
margin-top: 1rem;
background: #0070f3;
color: white;
border: none;
padding: 8px 12px;
border-radius: 6px;
cursor: pointer;
}

.evaluasi-badge-container {
display: flex;
gap: 10px;
flex-wrap: wrap;
margin: 10px 0;
}

.badge {
padding: 5px 10px;
border-radius: 5px;
font-size: 0.85rem;
font-weight: 500;
color: white;
}

.badge.success {
background-color: #2ecc71;
}

.badge.fail {
background-color: #e74c3c;
}
